body{
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 0;
    display: block;
}
#main{
   padding: 15px;
   border-radius: 5px;
   background: linear-gradient(103deg, blue, gold);
}
main{
    display: block;
}
h1{
  background: linear-gradient(270deg, rgb(253, 55, 55) , rgb(182, 13, 13), rgb(0, 0, 0),rgb(188, 35, 35));
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 0;
    display: block;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#img{
    display: flex;
    justify-content: center;
    }


