body{
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 0;
    display: block;
}
#main{
   padding: 15px;
   border-radius: 5px;
   background: linear-gradient(103deg, blue, gold);
}
main{
    display: block;
    padding: 15px;
    border-radius: 5px;
    margin: 30px 8px;
}
h1{
  background: linear-gradient(270deg, rgb(253, 55, 55) , rgb(182, 13, 13), rgb(0, 0, 0),rgb(188, 35, 35));
  border-radius: 10px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
    line-height: 1.5;
    margin: 0;
    display: block;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#img{
    display: flex;
    justify-content: center;
    }
@media (max-width: 460px){
    #main{
        margin: 0;
    }
}
#img-div{
    display: block;
    padding: 10px;
    margin: 0;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    background: linear-gradient(103deg, grey, white);
}
img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
ul{
    display: block;
    list-style-type: disc;
    max-width: 550px;
    text-align: left;
    line-height: 1.6;
    margin: 0 auto 50px auto;
}
blockquote{
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: center;
}
h3{
    display: block;
    font-size: 1.17em;
}

